<html>
  <head>
    <title>Editor Window</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="app://bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="app://bower_components/polymer/polymer.html">
    <link rel="import" href="app://bower_components/iron-flex-layout/iron-flex-layout.html">
    <link rel="stylesheet" href="app://bower_components/fontawesome/css/font-awesome.min.css">
  </head>

  <body>
    <script type="text/javascript" src="editor-framework://lib/renderer/panel-ready.js"></script>
  </body>
</html>
